<!--
=========================================================
* Soft UI Dashboard PRO - v1.1.1
=========================================================

* Product Page:  https://www.creative-tim.com/product/soft-ui-dashboard-pro 
* Copyright 2023 Creative Tim (https://www.creative-tim.com)
* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">

<%- include('../components/auth/head'); %>

<body class="bg-gray-100">
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKDMSK6" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>


  <!-- nav -->
  <%- include('../components/auth/nav'); %>
  <!-- body content -->
  <%- body %>

  <!-- footer -->
  <%- include('../components/auth/footer'); %>


  <!-- scripts -->
  <%- include('../components/auth/scripts'); %>
</body>

</html>